body{
    background:rgb(51, 50, 47);
    transition:all ease-in;
    animation: bgChangr 4s ease-in infinite;
}
.main-container{
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .bold-name{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: bold;
        font-weight: 800;
        color: white;
        font-size: 5rem;
        position: absolute;
        top: 100%;
        animation: comeUp 3s ease-in forwards;
        opacity: 0;


    span{
        font-family: inherit;
        font-style: inherit;
        position: absolute;
        // display: none;
        top: -750%;
        animation: goDown 3s ease-in forwards;
        transition: all ease-in;


    }

}
.cursive-name{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: rgba(218, 3, 189,.75);
    font-size: 4rem;
    position: absolute;
    right: 100%;
    // display: none;
    animation: popIn 3s ease-in forwards;

  }
}



@keyframes bgChanger {
        0%{
            background:rgb(10, 3, 77);

        }
            
        25%{
            background: rgb(92, 2, 2);

        }
        50%{
            background: rgb(49, 1, 71);
        }
        75%{
            background: rgb(32, 32, 32);
        }
        100%{
            background: rgb(27, 43, 73);
        }
}

@keyframes comeUp {
    100%{
        top: 50%;
        display: block;
        opacity: 100;

    }
}

@keyframes goDown {
    100%{
        top: 5%;
        left: 43%;
        // display: none;

    }
    
}
@keyframes popIn {
    100%{
        right: 25%;
        top: 53%;
        // display: block;

    }
    
}